<h1>Editing cv</h1>

<%# debugger %>
<%# @cv = Cv.find(:all, :conditions => { :id => @cv.id } )%>
<%# debugger %>

<% form_for @cv do |f| -%>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.check_box :ativo %>Curr&iacute;culo ativo<br />
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end -%>


<%= link_to 'Show', @cv %> |
<%= link_to 'Back', cvs_path %>