<div id="post-<%= post.id %>" class="post">
	<div class="post-top">
		<div class="post-title">
			<h2><%= link_to post.assunto, post , { :title => post.assunto, :rel => "bookmark" } %></h2>
			<h4><%= post.comments.size %></h4>
		</div>
	</div>

	<% if @caller_page == "index" %>
		<div class="entry">
			<p><%= parse_coderay( post.resumo ) %></p>
		</div>
		<div id="read_more">
			<p><%= link_to "Leia mais...", post , { :title => post.assunto, :rel => "bookmark" } %></p>
		</div>
	<% else %>
		<div class="entry">
			<p><%= parse_coderay( post.texto ) %></p>
		</div>
	<% end %>

	<div class="postmetadata">
		 <p>
			<% if logged_in? %>
			<% if post.ativo != '1' %>
				Post INATIVO
			<% end%>
			|
			<%= link_to 'Editar', edit_post_path(post)%>
			|
			<% end%>
		     Postado por
			<span><%= post.createdby %></span>
			| Tags: 
			<span>
			<a rel="category tag" title="Veja todos posts da categoria SAP" href="javascript:inativo();">SAP</a>
			</span>
			| Postado em <%= post.created_at %>
			<input type="hidden" name="id_<%= post.id %>" value="<%= post.id %>">
		 </p>
	</div>
</div>
