<h1>Editing curriculo</h1>

<% form_for(@curriculo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
     <%= f.check_box :ativo %> Este Currículo está ativo
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @curriculo %> |
<%= link_to 'Back', curriculos_path %>